<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
	<title>Edit Event</title>
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">GUOLGA EVENTS</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/eventlist}">Events</a></li>
				<li><a th:href="@{/userlist}"
					sec:authorize="hasAuthority('ADMIN')">Users</a></li>
			</ul>
			<div class="navbar-text">
				<span th:inline="text">Signed in as
					[[${#httpServletRequest.remoteUser}]]</span>
			</div>
			<div class="navbar-text navbar-right">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger"></input>
				</form>
			</div>

		</div>
	</nav>
	<h1>Edit Event</h1><br />
	<div class="container">
		<form th:object="${event}" th:action="@{../save}" action="#" method="post">
		  	<input type="hidden" th:field="*{id}" class="form-control" />
		  	
		  	<input type="text" th:field="*{title}" />
		  	<input type="date" th:field="*{date}" />
			<input type="time" th:field="*{time}" />
			<input type="text" th:field="*{location}" />
			<select id="typlist" th:field="*{type}" class="form-control">
       		<option th:each="type: ${type}" th:value="${type.typeid}" th:text="${type.type}"></option>
    		</select>
    		<input type="text" th:field="*{price}" />
    		<input type="text" th:field="*{details}" />
						
			<input type="submit" class="btn btn-success" value="Save"></input>
		</form>
	</div>
</body>
</html>


