<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Event List</title>
</head>
<body>

	<!-- Navigation Bar -->
	<nav class="navbar navbar-inverse bg-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">GUOLGA EVENTS</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/eventlist}">Events</a></li>
				<li><a th:href="@{/userlist}" sec:authorize="hasAuthority('ADMIN')">Users</a></li>
			</ul>
			<div class="navbar-text">
				<span th:inline="text">Signed in as [[${#httpServletRequest.remoteUser}]]</span>
			</div>
			<div class="navbar-text navbar-right">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Sign Out" class="btn btn-danger"></input>
				</form>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1 class="text-center">Events</h1><br/> 
		<input class="form-control" id="myInput" type="text" placeholder="Search.."></input><br />
		
		<!-- Table displaying events list -->
		<table class="table table-striped table-hover">
			<tr>
				<th>Title</th>
				<th>Date</th>
				<th>Time</th>
				<th>Location</th>
				<th>Type</th>
				<th>Ticket Price</th>
				<th>Performance/-s by</th>
				<th sec:authorize="hasAuthority('ADMIN')">Edit</th>
				<th sec:authorize="hasAuthority('ADMIN')">Delete</th>
				<th sec:authorize="hasAuthority('USER')"></th>
				<th sec:authorize="hasAuthority('USER')"></th>
			</tr>
			
			<tbody id="myTable">
				<tr th:each="event : ${event}">
					<td th:text="${event.title}"></td>
					<td th:text="${event.date}"></td>
					<td th:text="${event.time}"></td>
					<td th:text="${event.location}"></td>
					<td th:text="${event.type.type}"></td>
					<td th:text="${event.price}"></td>
					<td th:text="${event.details}"></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${event.id})}">Edit</a></td>
					<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${event.id})}">Delete</a></td>
					<td sec:authorize="hasAuthority('USER')"><a class="btn btn-primary" href="#">Add to Wish list</a></td>
					<td sec:authorize="hasAuthority('USER')"><a class="btn btn-success" href="#">Book</a></td>
				</tr>
			</tbody>
		</table>
		
		<!-- Button for adding new events -->
		<a sec:authorize="hasAuthority('ADMIN')" class="btn btn-success" href="/add">Add Event</a>
	</div>
	
	<!-- Search/Filtering -->
	<script>$(document).ready(function() {$("#myInput").on("keyup",function() {var value = $(this).val().toLowerCase(); $("#myTable tr").filter(
																function() {$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)});});});
	</script>
	
	
</body>
</html>